{% extends 'sitepages/layout.html' %}

{% block Titleblock %}Main{% endblock %}

{% block Bodyblock %}

<nav class="navbar">
    <div class="navbar-logo"></div>
    <ul class="navbar-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact Me</a></li>
    </ul>
    <div class="navbar-icons">
        <a href="#" class="icon"><i class="fas fa-user"></i></a>
    </div>
</nav>

<pre>{{ content }}</pre>
{% include 'sitepages/test.html' %}
{% endblock %}